<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<!--<bean id="xxService" class="com.bily.spring.local.ioc.service.XxService"></bean>
	<bean id="myBeanFactoryPostProcessor" class="com.bily.spring.local.ioc.service.MyBeanFactoryPostProcessor"></bean>
	<bean id="myBeanPostProcessor" class="com.bily.spring.local.ioc.service.MyBeanPostProcessor"></bean>-->

	<bean id="aService" class="com.bily.spring.local.ioc.service.AService">
		<property name="bService" ref="bService"></property>

	</bean>
	<bean id="bService" class="com.bily.spring.local.ioc.service.BService">
		<property name="aService" ref="aService"></property>
	</bean>

</beans>